*{
    margin: 0px;
    padding: 0px;
}
body{
    /* background-color: white; */
    background-color:#EEECEB ;
}
#company_logo{
    cursor: pointer;
}
.navbar_100{
width: 100%;
box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
/* border: 1px solid rgb(212, 0, 0); */
    height: 100px;
    align-items: center;
    margin: auto;
    
    position: fixed;
    top: 0px;z-index: 2;
    background-color: white;
}
.navbar{
    background-color: white;
    margin: auto;
    display: flex;
    height:100%;
    align-items: center;
    width: 75%;
    animation: transition 3s 0s 1 alternate;     
}
@keyframes transition{
    from{
        transform: translateY(-120px);
    }
    to{
        transform: translateY(0px);
        
    }
}

a{
    text-decoration: none;
    color: white;
}
.top_logo{
    max-width: 200px;
    width: 100%;
    background-color: white;
}
.navbar .nav_mid{
    width: 450px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
        
        }
        .nav_mid>p>a{
            text-decoration: none;
            font-size: 20px;
            font-family: sans-serif;
            color: grey;
        }
       .nav_right{
        width: 280px;
        height: 50%;
        align-items: center;
            display: flex;
             background-color: white;
       }
       .right_nav_img{
        width: 70px;
        /* margin-right: 30px; */
        /* border: 1px solid green; */
        margin-right: 15px;
    }
    .nav_right>h3{
        width: 70px;
        margin-right: 15px;
    }
    
    .nav_right>h3>a{
        color: black;
        text-decoration: none;
        font-family: OpenSans-Bold;
    }
    .nav_right>button{
        border: 0px;
        font-size: medium;
        color: white;
        font-weight: bolder;
        width: 150px;
        height: 40px;border-radius: 30px; background-color: #0092FF;
        margin-left:10px;
    }
    .nav_right>button:hover{
        background-color: #025493;
    }

    /* video section**************************** */
    #main_content_top{
        width: 100%;
        
        margin: auto;
        margin-top: 150px;
        margin-bottom: 70px;
        height:auto;
        /* border: 1px solid red; */
        background-color: white;
        
    }
    .main_top{
        width: 80%;
        margin: auto;
        display: grid;
            grid-template-columns: repeat(2,1fr) ;
    }
    .main_top_left{
        animation: botToup 2s 0s alternate;
    }
    @keyframes botToup {
        from{
            opacity: 0;
transform: translateY(20px);
        }to{
opacity: 1;
transform: translateY(0px);
        }
    }

    .main_top_left>h1{
        /* border: 1px solid red; */
        width: 100%;
        font-size: 70px;
        line-height: 60px;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 20px;
    }
    .main_top_left>h1+div>p {
        font-size: 25px;
        /* border: 1px solid rgb(241, 229, 0); */
        width: 90%;
        color: grey;
   
        margin-bottom: 30px;
        margin-top: 40px;
        
    }
    .main_top_left>input{
        width: 50%;
        background-color: #0092FF;color: white;
        margin-top: 30px;
        border-radius: 30px;
        border: none;
        padding: 20px;font-size: 20px;font-weight: bolder;
    }
    .main_content_video{
        width: 50%;
        height: 100%;
        /* border: 1px solid rgb(8, 201, 69); */
    }
    .main_content_video>video{
     
        height: 600px;
    }


    /* main***************** */
hr{
    margin: auto;
    color: #938787d5;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
}
    #main3_top{
        width: 70%;
        margin: auto;
        /* border: 1px solid red; */
        }
        .img_flex_main2{
            display: flex;
            justify-content: center;
     }
        .img_flex_main2>img{
       width: 12%;
     }
     .img_flex_main2>img:first-child{
        width: 5%;
        height: 13%;
        position: relative;
        top: 40px;
     }
     .img_flex_main2>img:last-child{
        width: 13%;
        height: 16%;
        position: relative;
        top: 60px;
        right: 60px;
     }
        .main3_title > h1{
        text-align: center;
        font-size: 50px;
        line-height: 60px;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 20px
    }
    .main3_title>p{
        text-align: center;
        font-size: 20px;
            color: grey;
            margin-bottom: 50px;
        }
        /* main3 part2*********************************************** */
    #main3_container{
        margin-top: 100px;
    }
    .main3_firstbox{
        display: grid;
        grid-template-columns: 30% 60%;
        gap: 50px;margin-bottom: 100px;
    }
    
    .main3_firstbox_right{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* border: 1px solid rgb(168, 8, 8); */
        gap: 70px 70px;
    }
    .main3_firstbox_right >div{
        display: grid;
        grid-template-columns: 10% 90% ;
        gap: 20px;
    }
    .innercontent_main3>h2{
        margin-bottom:10px ;
    }
    .innercontent_main3>p{
        line-height: 25px;    
    }
   .main3_firstbox_left>img{
    width: 90%;
    height: 90%;
    border: 1px solid rgb(202, 201, 201);
   }

/* 888888888888888888888888888888888888888888888888888888888" */
   #main_mid{
    width: 80%;
    margin: auto;
    background-color: #ffd9d4;
    height: 200px;   
    margin-bottom: 5vh;
}
.main_mid_left{
    display: flex;
    width: 47%;
    height: 55%;
}
.main_mid_box{
    width: 70%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: auto;
    align-items: center;
}
.main_mid_left img{
    width: 35%;
    margin-right: 30px;
}

.main_mid_right > button{
    cursor: pointer;
    border: 0px;
    font-size: medium;
    color: white;
    font-weight: bolder;
    width: 200px;
    height: 60px;border-radius: 30px; 
    background-color: #0092FF;
    position: relative
}


/* 9800000000890 890890890890890890890890890890890980980980 */


   #main7{
    margin-top: 20vh;
    /* border: 1px solid rgb(243, 0, 0); */
    width: 100%;
    background-color: #ffd9d4;
    height: 650px;
    position: relative;
    bottom: 200px;
   
}
.main7_box{
    width: 70%;
    display: flex;
    height: 100%;
    margin: auto;
    align-items: center;
}
.main7_left img{
    mix-blend-mode: multiply;
    width: 80%;
}
.main7_right >h1{
    width: 100%;
    font-size: 50px;
    line-height: 55px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px
    

}
.main7_right >h1+ p{
    margin-bottom: 50px;
}
.main7_right > button{
    cursor: pointer;
    border: 0px;
    font-size: medium;
    color: white;
    font-weight: bolder;
    width: 200px;
    height: 60px;border-radius: 30px; 
    background-color: #0092FF;
    position: relative
}
/* footer++++++++++++*****************++++ */
/* footer++++++++++++*****************++++ */
/* footer++++++++++++*****************++++ */
/* footer++++++++++++*****************++++ */

.footer{
    width: 70%;
    margin: auto;
    margin-top: -150px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}.footer .logo{
    width: 20%;
    margin-left: 5px;
    /* border: 1px solid rgb(224, 0, 0); */
}
.footer .logo +div{
    display: flex;
    
    width: 300px;
    /* justify-content: space-evenly; */
    height: auto;
    margin-right: 0px;
}
.footer >.logo +div >img{
    width: 35px;
    height: 40px;
    margin: 10px 0px 10px 5px;
 
}
.footer >.logo +div >img:hover{
    border-radius: 50%;
}
@media all and (min-width: 300px) and (max-width: 770px){
    .footer{
    margin: auto;
        display: block;
    }
    .footer .logo{
        width: 30%;
        margin: auto;
    }
    .footer .logo +div{
        display: flex;
        width: 150px;
        justify-content: space-evenly;
      margin: auto;
        
    }
}

/* footer part */

.content_footer{
    margin: auto;
margin-top: 30px;
width: 80%;
display: grid;
grid-template-columns: repeat(2,1fr);

}
.left{
display: grid;
grid-template-columns: repeat(2,1fr);
/* border: 1px solid blue; */
width: 70%;
margin-top: 0px;
margin-left: 0px;

}

.left .footer_img img{
width: 90%;
}



.left .footer_text{
margin-top: 0px;
line-height: 23px;
}
.footer_right{
display: flex;
line-height: 35px;
gap: 50px;
}
.right1 {
    width: 100%;
    margin: 0px 0px 10px 0px;
}
.block1_footer{
    /* border: 1px solid blue; */
    text-decoration: none;
    padding-bottom: 10px;
    font-weight: bolder;
}
.right1 > .block1_footer + ul > li{
    /* border: 1px solid blue; */
    text-decoration: wavy;
    font-size: medium;
}


.base_footer{
    /* border: 1px solid rgb(213, 16, 16); */
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    /* margin-bottom: 10vh; */
    margin-top:30px ;
    margin-bottom: 60px;
    /* height: 200px; */
}

@media all and (min-width: 610px) and (max-width: 1189px){
.content_footer{
 display: grid;
grid-template-columns: repeat(1,1fr); 

}
.left{
display: flex;
border: 1px solid blue;
width: 80%;
margin: auto;
}

.left .footer_img img{
width: 90%;
margin-right: 150px;
}



.left .footer_text{
    margin-top: 0px;
    line-height: 23px;
}
.footer_right{
display: flex;
}
.right1 {
width: 100%;
margin: 30px 0px 10px 0px;
}
.block1_footer{
 text-decoration: none;
padding-bottom: 10px;
font-weight: bolder;
}
/* base side */
hr{
margin-top: 50px;
width: 80%;
}
.base_footer{
display: flex;
}
}


@media all and  (max-width: 609px){
.content_footer{
width: 90%;
/* border: 1px solid red; */
display: block;
}
.left{
/* display: flex; */
        width: 100%;
        /* display: block; */
    }
    
    .left .footer_img img{
        width: 50%;
        margin: auto;
    }
    
    .left .footer_text{
        
    }
    .footer_right{
display: block;
}

}